@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
	box-sizing: border-box;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

:root {
  --fonte-fraunces:  "Fraunces", serif;
  --font-oswald: "Oswald", sans-serif;
  --font-lato: "Lato", sans-serif;

  --links-subtitulos: #c4a47c;
  --cor-de-fundo: #604829;
  --sbtitulo-texto-lista: #fff;
  --textos: #666;
  --bordas: #acacac;
  --rodape: #000000;
}

.container-topo{
  width: 100%;
  position: fixed;
  background-color: var(--cor-de-fundo);
  z-index: 1;

}

.container-topo img{
  width: 100px;
  position: relative;
  left: 10%;
}

.container-topo div{
  position: absolute;
  top: 40%;
  right: 10%;
}

.container-topo a{
  margin-right: 20px;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 3px 5px 2px #181717;
  letter-spacing: 2px;
  color: var(--links-subtitulos);
  
}
.container-parallax1 {
  background-image: url("/assets/parallax-imagem1.png");
  height: 100vh;
}

.container-parallax1 h1 {
  top: 45%;
  right: 0;
  left: 0;
  position: absolute;
  color: var(--sbtitulo-texto-lista);
  text-align: center;
  font-weight: 400;
  font-family: "Fraunces", serif;
  font-size: 60px;
}

.container-parallax2 {
  background-image: url("/assets/parallax-imagem2.jpg");
  height: 50vh;
}

.container-parallax2 h3,
.container-parallax3 h3 {
  width: 500px;
  padding: 10px;

  position: relative;
  top: 45%;
  right: 0;
  left: 0;
  margin: auto;

  font-size: 22px;
  font-weight: 500;
  font-style: italic;
  font-family: "Fraunces", sans-serif;
  text-align: center;

  letter-spacing: 3px;
  background-color: var(--cor-de-fundo);
  color: var(--sbtitulo-texto-lista);
}

.container-parallax3 {
  background-image: url("/assets/parallax-imagem3.jpg");
  height: 50vh;
}

.container-parallax4 {
  background-image: url("/assets/parallax-imagem4.png");
  height: 130vh;
}

.container-parallax4 h2 {
  width: 500px;
  padding: 10px;
  position: relative;
  top: 10%;
  right: 0;
  left: 0;
  margin: auto;
  font-size: 22px;
  font-family: "Oswald", serif;
  letter-spacing: 6px;
  text-align: center;
  color: var(--sbtitulo-texto-lista);
  background-color: var(--cor-de-fundo);
}

.container-parallax4 iframe {
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
  margin: auto;
}

.endereco {
  width: 500px;
  padding: 10px;
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  margin: auto;
  background-color: var(--cor-de-fundo);
}

.informacoes-texto {
  padding: 80px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--textos);
}

.informacoes-texto h2 {
  margin-bottom: 30px;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Oswald", sans-serif;
  color: var(--links-subtitulos);
}

.endereco p {
  color: var(--sbtitulo-texto-lista);
  font-family: "Oswald", sans-serif;
  line-height: 36px;
  text-shadow: 0px 6px 8px #000000;
  text-align: center;
}

.informacoes-texto p {
  max-width: 1024px;
  padding: 0px 20px;
  margin: 0 auto;
  font-family: "Lato", "sans-serif";
  line-height: 34px;
  letter-spacing: 1px;
  color: var(--bordas);
}

.container-parallax5 {
  height: 85vh;
  background-image: url("/assets/cafeteria.jpg");
}

.container-parallax5 h2 {
  position: absolute;
  margin: 0 auto;
  top: 10%;
  right: 0;
  left: 0;
  font-family: "Oswald", sans-serif;
  text-align: center;
  letter-spacing: 8px;
  color: white;
}

.lista-horarios { /* tag <ul> */
  max-width: 768px;
  position: absolute;
  margin: 0 auto;
  bottom: 20%;
  right: 0;
  left: 0;
  font-family: "Oswald", sans-serif;
  list-style: none;
}

.lista-horarios li { /* tag <li> */
  position: relative;
}

.lista-horarios li h3 { /* subtitulo = <h3> */
  margin-bottom: 20px;
  color: var(--sbtitulo-texto-lista);
}

.lista-horarios li div { /* tarja = <div> */
  width: 70%;
  height: 1px;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  right: 0;
  left: 0;
  background-color: var(--bordas)
}

.lista-horarios li p,
.texto-detalhe { /* paragrafo + span*/
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.texto-detalhe {
    color: var(--links-subtitulos);
}

.lista-horarios li p {
    color: var(--bordas);
}

.container-rodape {
  position: relative;
  padding: 20px 0;
  line-height: 34px;
  letter-spacing: 2px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-align: center;
  background-color: #000000;
  color: var(--sbtitulo-texto-lista);
}

.container-rodape span {
  color: var(--links-subtitulos);
}

.container-rodape a {
  display: inline-block;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 80px;
  right: 50px;

  background-image: url("/assets/seta-para-cima.png");
  background-position: center;
  background-size: cover;
  background-color: var(--links-subtitulos);
  border-radius: 50%;
}
